@import 'bootstrap/dist/css/bootstrap';


 .navbar {

     background-color: black !important;
     
    
 }
.nav-link{
    color: #A9A9A9 !important;
}
 #logo{
    float:left;
    font-size: 1.7em;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    transition: text-shadow .3s ease-out;

 }
 #logo:hover{
     color:#fff;
     text-decoration: none;
     text-shadow: -2px -2px 2px rgba(150, 150, 150, 1);
 }
 .center{
     text-align: center;
 }
 .center a{
     margin-top: 20px;
 }
 .center h1{
     font-weight: bold;
     text-transform: uppercase;
     font-size: 36px;
     color: #fff;
     margin-bottom: 30px;
     letter-spacing: -1px;
 }
 .jumbotron{
     margin-top: 13px;
     background-image: asset-url('ruby.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     height: 550px;
 }
 .btn-xlarge{
     font-size: 1.7em;
     background-color: black;
 }
 .footer{
     margin-top: 45px;
     padding-top: 5px;
     border-top: 1px solid #eaeaea;
     color: #777;
 }
footer a:hover{
    color: #222222;

}
footer small{
    float:left;
}
footer ul{
    float:right;
    list-style: none;
}
footer ul li{
    float: left;
    margin-left: 15px;
}
.edit__header{
    margin: 20px 0px;
}
.field_with_errors textarea{
    border: 1px solid black;
    box-shadow: 0px 0px 3px red;
}
.field_with_errors input{
    border: 1px solid black;
    box-shadow: 0px 0px 3px red;
}

.form__btn{
    display: flex;
    justify-content: center;
}
.form__btn input{
    width: 175px;
}
#description__area{
    height: 250px;
}
.m5{
    margin-top: 5px;
}
.m10{
    margin-top: 10px;
}

.m25{
    margin-top: 25px;
}
.m40{
    margin-top: 40px;
}
.m50{
    margin-top: 50px;
}
.ml15{
    margin-left: 15px;
}
.ml25{
    margin-left: 25px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}

.errors{
    border: 1px solid black;
}
.divider{
    width: 100%;
    border-bottom: 2px solid #000 !important;
}
.list-group-item p{
    display: inline-block;
}
.list-group-item a{
    display: inline-block;
}
#show__card{
    background-color: #eaeaea;
}
.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
}
.article-title{
    font-weight: bold;
    font-size: 1.5em;
}
.article-body{
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}
.article-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}
#index__card{
    background-color: #d1d6d1;
}
.img-circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.listing{
    list-style: none;
    padding-left: 0;
}
.listin li{
    margin-top: 10px;
}
#card__users li{
    margin-top: 5px;
}
.show-card__user{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(43, 206, 179);
}

div.pagination{
    display: inline-block;
}
ul.pagination{
    border:1px solid black;
    overflow: hidden;
    box-shadow: 0px 0px 2px black;
}
ul.pagination li{


    padding: 5px 7px;
    
    background-color: #eaeaea;
    transition: background-color .2s ease-out;

}
ul.pagination li:hover{

    background-color: lightskyblue;

}
ul.pagination li.active{
    border-right: 1px solid black;
    border-left: 1px solid #000;
    background-color: blue;
}
ul.pagination li.active a{
    color:white;
}
ul.pagination li a{
    text-decoration: none;
    width: 200%;
    height: 200%;
}


// .navbar-brand {
    
//     font-size: 3rem;
    
// }
    
     
    
// h1 {
    
//     color: red;
    
// }