<h1 align="center"> Listing all categories</h1>
<div align="center" class="justify-content-center m25">
    <%= will_paginate %>
</div>    
<% @categories.each do |category|%>
    <ul class="listing m25">
        <div class="row justify-content-center">
            <div class="card col-md-4 center" id="card__categories">
                <li class="article-title"><%= link_to category.name,category_path(category)%> </li>
                <li><small> <%= pluralize(category.articles.count,"article") %> </small> </li>
            </div>
        </div>
    </ul>
<% end %>
<div align="center" class="justify-content-center m25">
    <%= will_paginate %>
</div>    